* {
    /*For at bilder skal kunne gå ut i kantene*/
    box-sizing: border-box;
}
.kontakt_oss{
    /*Hovedbildet*/
    background-image: url("kontaktBilde.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Tahoma;
}


.overskrift {
    /*plasserer teksten på hovedbildet*/
    position: relative;
    margin: 30% 15%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.overskrift h1{
    /*Skrift størrelse*/
    font-size: 36pt;
}
.overskrift p {
    /*Skrift størelse*/
    font-size: 24pt;

}

.vårt_team h2 {
    /*Posisjon av h2 "Vårt team"*/
    position: absolute;
    left: 50%;
    transform: translate(-60%, -250%);
    text-align: center;
    font-size: 36pt;
    color: #03394F;
}
.vårt_team p {
    /*posisjon av undertekst til vårt team*/
    position: absolute;
    left: 50%;
    transform: translate(-53%, -50%);
    text-align: center;
    font-size: 24pt;
    color: #03394F;

}
.konteiner {
    position: relative;
    transform: translateY(50%);
    width: 90vw;
    height: 60vh;
    margin: auto;
    text-align: center;

}
.ansatt {
    /*Posisjon av ansatt boksene*/
    position: relative;
    background-color: white;
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 90px;
    float: left;
}
.ansatt img {
    /*Posisjon av portrett*/
    position: relative;
    top: -25%;

}
.ansatt h4 {
    /*Posisjon av navn in boksen*/
    position: relative;
    top: -30%;
    color: #03394F;
    font-size: 16pt;
}
.ansatt p {
    /*Posisjon av beskrivelse til folk*/
    position: relative;
    top: -20%;
    color:  #03394F;
    font-size: 14pt;
}
.ansatt p:nth-of-type(1){
    /*Farge på jobb-stillingen*/
    color: #D2AA43;
    position: relative;
    top: -25%;
}


.blåPlass {
    position: relative;
    transform: translateY(60%);
    width: 100vw;
    height: 60vh;
    margin: auto;
}
.blå {
    /*posisjon og dimensjon av den blå boksen*/
    position: relative;
    transform: translate(0%, 30%);
    width: 100%;
    height: 700px;
    background-color: rgba(66,122,161,0.7);
    color: white;
    margin-bottom: auto;
    margin-top: auto;
    
}
.kontakt_tekst {
    /*Poisjon av Teks og lorem iusum*/
    width: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.kontakt_tekst h4 {
    /*Størrense på h4*/
    font-size: 36pt;
}
.kontakt_tekst p {
    /*Størrelse på p*/
    font-size: 24pt;
}
form {
    /*Posisjon av form*/
    position: absolute;
    top: 10%;
    left: 65%;
    transform: translate(-5%, -1%);
}
input {
    /*dimensjon av input felt*/
    font-family: Tahoma;
    font-size: 12pt;
    height: 50px;
    width: 400px;
}
#melding {
    /*dimensjon til melding felt*/
    height: 120px;
    width: 400px;
}
#send {
    /*dimensjon og posisjon av send-knapp*/
    position: absolute;
    width: 150px;
    top: 98%;
    left: 63%;
    border-radius: 18px;
    -moz-border-radius: 5px;
    border: none;
    background-color: #E9B56A;
    color: white;
}

.jobb {
    /*Posisjon og dimensjon av boksen rundt "ønsker du og jobbe her" og knappen*/
    position: relative;
    width: 70%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translate(20%, 300%);
    background-color: white;
    margin-top: 10%;
    margin-bottom: 50%;
    text-align: center;
}
.jobb h2 {
    /*Posisjon av teksten i boksen*/
    position: relative;
    transform: translate(1%, 200%);
    color:  #03394F;
    text-align: center;
    margin-bottom: 2%;
}
.jobb button {
    /*Posisjon og dimensjon av knappen i boksen*/
    position: relative;
    transform: translate(2%, 150%);
    text-align: center;
    background-color: white;
    border-color: #E9B56A;
    border: solid;
    color: #E9B56A;
    width: 200px;
    height: 70px;
    font-size: 12pt;
    font-family: Tahoma;
}