*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background-color: #FCFCFC;
	font-size: 24px;
	font-family: tahoma;
	color: #03394F;
}

img{
	width: 100%;
	height: auto;
}

h1{
	font-size: 52px;
}

h2{
	font-size: 24px;
}

li{
	font-size: 10px;
	list-style-type: "-";
}

.tekstbilde{
	margin-top: -40%;
	position: absolute;
	left: 20px;
	color: #FFFFFF;
	width: 52%;
}

#gprofil{
	left: 35%;
	text-align: left;
}

#Ndesign{
	text-align: center;
	color: #03394F;
	margin-top: -30%;
	left: 30%;
}

.Sporsmal{
	text-align: center;
	margin: 50px 5% 80px 5%;
}

.underoverskrift{
	margin: 70px;
}

.BOKS{
	text-align: left;
	background-color: white;
	box-shadow: 10px 10px 40px grey;
	margin-bottom: 30px;
}

.boks{
	float: left;
	width: 50%;
	padding: 20px 10px 20px 20px;
	height: auto;
}

.boks2{
	float: left;
	width: 50%;
	padding: 20px 20px 20px 10px;
	height: auto;
}

.Sboks:after{
	content: "";
	display: table;
	clear: both;
}

.Lfakta{
	margin-top: -5px;
	color: rgb(66,122,161);
	width: 100%;
	height: auto;
	display: inline-block;
	background-color: white;
	padding-left: 0px;
}

#SEOfakta{
	color: white;
	background-color: rgba(66,122,161,70%);
}

.Rfakta{
	padding-left: 5px;
	color: white;
	width: 100%;
	height: auto;
	display: inline-block;
	background-color: rgba(66,122,161, 70%);
}

.faktabildet{
	width: 40%;
	height: auto;
	padding: 0 10px 0 0;
	float: left;
}

#Rfaktabildet{
	padding: 0 0 0 10px;
	float: right;
}



.faktatekst{
	width: 60%;
	height: auto;
	padding: 0 10px 0 10px;
	float: right;
}

#Rfaktatekst{
	float: left;
}


.blokk{
	width: 90%;
	display: inline-block;
	text-align: center;
	margin: 50px 5% 50px 5%;
}

.blokk1{
	background-color: white;
	margin-left: 3%;
	float: left;
	width: 30%;
	min-height: 220px;
	height: auto;
	box-shadow: 10px 10px 40px grey;
}

.blokk2{
	background-color: white;
	margin-left: 3%;
	float: left;
	width: 30%;
	min-height: 220px;
	height: auto;
	box-shadow: 10px 10px 40px grey;
}

.blokk3{
	background-color: white;
	margin-left: 3%;
	float: left;
	width: 30%;
	min-height: 220px;
	height: auto;
	box-shadow: 10px 10px 40px grey;
}

#sosiale{
	width: 30%;
	height: auto;
	min-height: 0px;
}

#sosiale p{
	color: white;
	margin-top: -40%;
	margin-left: 20%;
}

#sosiale #face{
	text-align: center;
	margin-left: 0px;
}

.blokk1:hover, .blokk2:hover, .blokk3:hover{
	transition: 0.5s;
    box-shadow: 10px 10px 40px rgba(66,122,161, 70%);
}

#sosiale:hover{
	box-shadow: 10px 10px 40px grey;
}

#Nboks{
	text-align: center;
	padding: 20px;
	padding-bottom: 30px;
}

a#Nboks{
	text-decoration: none;
	border-style: solid;
	border-color: #E9B56A;
	color: #E9B56A;
	font-size: 20px;
	padding: 5px 20px;
}


footer{
	width: 100%;
	height: auto;
	padding-bottom: 80px;
	margin-top: -5px;
	background-color: #03394F;
	color: white;
	text-align: center;
	padding-top: 80px;
}

#foot a{
	color: #3FB6F9;
}


.facelink{
	width: 50px;
	margin: 0 10px;
}




@media screen and (max-width: 1205px) and (min-width: 951px){
	.tekstbilde h1{
		font-size: 40px
	}
	p{
		font-size: 20px;
	}
}

@media screen and (max-width: 950px) and (min-width: 701px){
	.tekstbilde h1{
		font-size: 30px
	}
	p{
		font-size: 15px;
	}
}

@media screen and (max-width: 700px){
	.tekstbilde h1{
		font-size: 20px
	}
	p{
		font-size: 15px;
	}
}
