*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background-color: #FCFCFC;
	font-size: 24px;
	font-family: tahoma;
	color: #03394F;
	height: 100%;
}



h1{
	font-size: 52px;
}

h2{
	font-size: 24px;
}

li{
	font-size: 10px;
	list-style-type: "-";
}

img {
	width: 100%;
}


html {
    height: 100%;
}


.hovedbilde {
    height: 100%; 
    background-position: center;
	background-size: cover;
	z-index: -1;

}

.tekstPåBilde{
	/*Tekst til hovedbilder på hver side. Plassering. */
	top: 35%;
	position: absolute;
	text-align: center;
	color: #FFFFFF;
    width: 100%;
    z-index: 1;
}


/*Her styles bildene i referanser.html*/
	.bilderRef {
    	margin-bottom: 50px;
	}

	#refEn, #refTo, #refTre {
		margin-top: 80px;
	}

	#refEn, #refFire, #refSyv {
		background-color: white;
		margin-left: 7%;
		float: left;
		width: 27%;
		min-height: 220px;
		height: auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	#refTo, #refFem, #refÅtte {
		background-color: white;
		margin-left: 3%;
		float: left;
		width: 27%;
		min-height: 220px;
		height: auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	#refTre, #refSeks, #refNi{
		background-color: white;
		margin-left: 3%;
		width: 27%;
		min-height: 220px;
		height: auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}


	/*Effekt på bildene*/
	/* Container needed to position the overlay. Adjust the width as needed */
	.container {
		position: relative;
	}


	/* The overlay effect - lays on top of the container and over the image */
	.overlay {
		position: absolute;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5); /* Black see-through */
		color: #f1f1f1;
		width: 100%;
		transition: .5s ease;
		opacity:0;
		color: white;
		font-size: 20px;
		padding: 20px;
		text-align: center;
	}
	
	/* When you mouse over the container, fade in the overlay title */
	.container:hover .overlay {
		opacity: 1;
	}

	#gprofil{
		/* Videre tekstplassering for teksten på hovedbildet til grafisk profil.*/
		/* Trengs fordi grafisk og nettsidedesign har forskjellig posisjon*/
		left: 35%;
		text-align: left;
	}



.Sporsmal{
	/* Posisjon av "vanlig" tekst på siden*/
	text-align: center;
	margin: 50px 5% 80px 5%;
}

.underoverskrift{
	margin: 70px;
}

.BOKS{
	/* Boksene til SEO vanlige spørsmål*/
	text-align: left;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
}

.boks{
	float: left;
	width: 50%;
	padding: 20px 10px 20px 20px;
	height: auto;
}

.boks2{
	float: left;
	width: 50%;
	padding: 20px 20px 20px 10px;
	height: auto;
}

.Sboks:after{
	content: "";
	display: table;
	clear: both;
}

/* Alt over posisjonering og størrelser på SEO boksene*/

.Lfakta{
	margin-top: -5px;
	color: rgb(66,122,161);
	width: 100%;
	height: auto;
	display: inline-block;
	background-color: white;
	padding-left: 0px;
}

#SEOfakta{
	color: white;
	background-color: rgba(66,122,161,70%);
}

.Rfakta{
	padding-left: 5px;
	color: white;
	width: 100%;
	height: auto;
	display: inline-block;
	background-color: rgba(66,122,161, 70%);
}

/*Tre over, css til bilde med fakta på siden. enten bilde Høyre og tekst venstre, eller omvendt */


.faktabildet{
	width: 40%;
	height: auto;
	padding: 0 10px 0 0;
	float: left;
}

#Rfaktabildet{
	padding: 0 0 0 10px;
	float: right;
}


.faktatekst{
	width: 60%;
	height: auto;
	padding: 0 10px 0 10px;
	float: right;
}

#Rfaktatekst{
	float: left;
}

/* CSS over til det samme, bildejustering for omvendt osv. tilpasning egt*/


.blokk{
	/* Elementet som de tre pakkene i SEO ligger inni */
	width: 90%;
	display: inline-block;
	text-align: center;
	margin: 50px 5% 50px 5%;
}

.blokk1, .blokk2, .blokk3{
	background-color: white;
	margin-left: 3%;
	float: left;
	width: 30%;
	min-height: 220px;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* Tre over er plassering osv av de tre pakkene*/


#sosiale{
	width: 30%;
	height: auto;
	min-height: 0px;
}

#sosiale p{
	color: white;
	margin-top: -40%;
	margin-left: 20%;
}

#sosiale #face{
	text-align: center;
	margin-left: 0px;
}
/*Tre over: Grafisk design - De tre blokkene om Logo, Sosiale medier og Epost*/

.blokk1:hover, .blokk2:hover, .blokk3:hover{
	/*Hover til pakkene på SEO */
	transition: 0.5s;
    box-shadow: 10px 10px 40px rgba(0,0,0, 0.3);
}

#sosiale:hover{
	/* Slik at de sosiale blokkene på grafisk design ikke får hover*/

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#Nboks{
	/* Kontakt oss boksen nederst på nettsidedesign*/

	text-align: center;
	padding: 20px;
	padding-bottom: 30px;
}

a#Nboks{
	/* Linken til kontakt oss boksen*/
	text-decoration: none;
	border-style: solid;
	border-color: #E9B56A;
	color: #E9B56A;
	font-size: 20px;
	padding: 5px 20px;
}


footer{
	width: 100%;
	height: auto;
	padding-bottom: 80px;
	margin-top: -5px;
	background-color: #03394F;
	color: white;
	text-align: center;
	padding-top: 80px;
}

#foot a{
	color: #3FB6F9;
}


.facelink{
	width: 50px;
	margin: 0 10px;
}

/*Tre over Footer design osv*/


/*Tre under er for at overskriften skal endre størrelse med vinduet*/
@media screen and (max-width: 1205px) and (min-width: 951px){
	.tekstbilde h1{
		font-size: 40px
	}
	p{
		font-size: 20px;
	}
}

@media screen and (max-width: 950px) and (min-width: 701px){
	.tekstbilde h1{
		font-size: 30px
	}
	p{
		font-size: 15px;
	}
}

@media screen and (max-width: 700px){
	.tekstbilde h1{
		font-size: 20px
	}
	p{
		font-size: 15px;
	}
}
