/* FELLES */
*{
	box-sizing: border-box;
}
html {
    height: 100%;
}
body{
	margin: 0;
	background-color: #FCFCFC;
	font-size: 24px;
	font-family: tahoma;
    color: #03394F;
    height: 100%;
}
img{
	width: 100%;
	height: auto;
}
.Sporsmal{
	/* Posisjon av "vanlig" tekst på siden*/
	/* må tydligvis ha denne for at KONTAKTOSS boksen nederst skal bli riktig */
	text-align: center;
	margin: 50px 5% 80px 5%;
}
    /* FONT / FONTSTØRRELSER*/
        h1{
            /* hovedoverskrift på hovedbilde */
            font-size: 52px;
        }
        h2{
            /* underoverskrifter */
            font-size: 36px;
        }
        p{
            /* tekst */
            font-size: 24px;
        }
        li{
            font-size: 10px;
            list-style-type: "-";
        }

    /* HOVEDBILDE */
        /* HOVEDBILDE / HOMEPAGE */
        .hovedbilde {
            height: 100%; 
            background-position: center;
            background-size: cover;
            z-index: -1;
        }
        .tekstPåBilde{
            /*Tekst til hovedbilder på hver side. Plassering. */
            top: 35%;
            position: absolute;
            text-align: center;
            color: #FFFFFF;
            width: 100%;
            z-index: 1;
        }
    /* BLÅ FAKTABOKS / OM OSS / BRANDING */
        .Rfakta{
            padding-left: 5px;
            color: white;
            width: 100%;
            height: auto;
            display: inline-block;
            background-color: rgba(66,122,161, 70%);
        }
        .faktabildet{
            width: 40%;
            height: auto;
            padding: 0 10px 0 0;
            float: left;
        }
        #Rfaktabildet{
            padding: 0 0 0 10px;
            float: right;
        }
        .faktatekst{
            width: 60%;
            height: auto;
            padding: 0 10px 0 10px;
            float: right;
        }
        #Rfaktatekst{
            float: left;
        }

    /* FOOTER */
        footer{
            width: 100%;
            height: auto;
            padding-bottom: 80px;
            margin-top: -5px;
            background-color: #03394F;
            color: white;
            text-align: center;
            padding-top: 80px;
        }
        #foot a{
            color: #3FB6F9;
        }
        .facelink{
            width: 50px;
            margin: 0 10px;
        }

    /* KONTAKT OSS / TA EN PRAT? */
        #Nboks{
            /* Kontakt oss boksen nederst på nettsidedesign*/
            text-align: center;
            padding: 20px;
            padding-bottom: 30px;
        }
        a#Nboks{
            /* Linken til kontakt oss boksen*/
            text-decoration: none;
            border-style: solid;
            border-color: #E9B56A;
            color: #E9B56A;
            font-size: 20px;
            padding: 5px 20px;
        }
        .BOKS{
            /* Boksene til SEO vanlige spørsmål*/
            text-align: left;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin-bottom: 30px;
        }

    /* MEDIA */
    /*Tre under er for at overskriften skal endre størrelse med vinduet*/
        @media screen and (max-width: 1205px) and (min-width: 951px){
            .tekstbilde h1{
                font-size: 40px
            }
            p{
                font-size: 20px;
            }
        }

        @media screen and (max-width: 950px) and (min-width: 701px){
            .tekstbilde h1{
                font-size: 30px
            }
            p{
                font-size: 15px;
            }
        }

        @media screen and (max-width: 700px){
            .tekstbilde h1{
                font-size: 20px
            }
            p{
                font-size: 15px;
            }
        }
/* HOMEPAGE */
    /* TJENESTER */
        .tjenester {
            display: flex;
        }
        .tjenester_nDesign, .tjenester_gProfil, .tjenester_SEO{ 
            align-content: center;
            margin-left: 7%;
            float: left;
            width: 16%;
            min-height: 220px;
            height: auto;
        }
        .tjenester_nDesign:hover, .tjenester_gProfil:hover, .tjenester_SEO:hover{
            transition: 0.5s;
            width: 18%;
        }

/* KONTAKT OSS */
    /* KONTAKTSKJEMA */
    /* VÅRT TEAM */
    /*Kontakt oss sin css*/

    .kontakt_oss{
        /*Hovedbildet*/
        background-image: url("kontaktBilde.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        font-family: Tahoma;
    }


    .overskrift {
        /*plasserer teksten på hovedbildet*/
        margin: 30% 15%;
        color: white;
        text-align: center;
    }
    .overskrift h1{
        /*Skrift størrelse*/
        font-size: 36pt;
    }
    .overskrift p {
        /*Skrift størelse*/
        font-size: 24pt;

    }
    .vårt_team {
        margin: 30% 15%;
        margin-bottom: 10vh;
        text-align: center;
    }
    .vårt_team h2 {
        /*Posisjon av h2 "Vårt team"*/
        font-size: 36pt;
        color: #03394F;
        margin-bottom: 5vh;

    }
    .vårt_team p {
        /*posisjon av undertekst til vårt team*/
        font-size: 24pt;
        color: #03394F;

    }
    .konteiner {
        width: 90vw;
        height: 100vh;
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        margin-bottom: 15vh;

    }
    .ansatt {
        /*Posisjon av ansatt boksene*/
        background-color: white;
        width: 25vw;
        height: 40vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 10%;
        float: left;
    }
    .ansatt .portrett {
        /*Posisjon av portrett*/
        margin: -10%;
        width: 8vw;
        height: auto;

    }
    .ansatt h4 {
        /*Posisjon av navn in boksen*/
        color: #03394F;
        font-size: 16pt;
        margin: 12%;
    }
    .ansatt p {
        /*Posisjon av beskrivelse til folk*/
        color:  #03394F;
        font-size: 14pt;
        word-break: break-all;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .ansatt p:nth-of-type(1){
        /*Farge på jobb-stillingen*/
        color: #D2AA43;
        top: -25%;
    }
    input {
        /*dimensjon av input felt*/
        font-family: Tahoma;
        font-size: 12pt;
        height: 6vh;
        width: 30vw;
        margin-bottom: 1vh;
    }
    #melding {
        /*dimensjon til melding felt*/
        height: 15vh;
        width: 30vw;
    }
    #send {
        /*dimensjon og posisjon av send-knapp*/
        margin-left: 79vw;
        width: 10vw;
        border-radius: 18px;
        -moz-border-radius: 5px;
        border: none;
        background-color: #E9B56A;
        color: white;
    }
    


/*Kontakt oss sin css*/

    .kontakt_oss{
        /*Hovedbildet*/
        background-image: url("kontaktBilde.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        font-family: Tahoma;
    }


    .overskrift {
        /*plasserer teksten på hovedbildet*/
        margin: 30% 15%;
        color: white;
        text-align: center;
    }
    .overskrift h1{
        /*Skrift størrelse*/
        font-size: 36pt;
    }
    .overskrift p {
        /*Skrift størelse*/
        font-size: 24pt;

    }
    .vårt_team {
        margin: 30% 15%;
        text-align: center;
    }
    .vårt_team h2 {
        /*Posisjon av h2 "Vårt team"*/
        font-size: 36pt;
        color: #03394F;
        margin-bottom: 5vh;

    }
    .vårt_team p {
        /*posisjon av undertekst til vårt team*/
        font-size: 24pt;
        color: #03394F;

    }
    .konteiner {
        width: 90vw;
        height: 100vh;
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        margin-bottom: 15vh;

    }
    .ansatt {
        /*Posisjon av ansatt boksene*/
        background-color: white;
        width: 25vw;
        height: 40vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 10%;
        float: left;
    }
    .ansatt .portrett {
        /*Posisjon av portrett*/
        margin: -10%;
        width: 8vw;
        height: auto;

    }
    .ansatt h4 {
        /*Posisjon av navn in boksen*/
        color: #03394F;
        font-size: 16pt;
        margin: 12%;
    }
    .ansatt p {
        /*Posisjon av beskrivelse til folk*/
        color:  #03394F;
        font-size: 14pt;
        word-break: break-all;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .ansatt p:nth-of-type(1){
        /*Farge på jobb-stillingen*/
        color: #D2AA43;
        top: -25%;
    }
    
    
    

/* REFERANSER */
    /* TIDLIGERE PROSJEKTER */
    /*Her styles bildene i referanser.html*/
	.bilderRef {
    	margin-bottom: 50px;
	}
	#refEn, #refTo, #refTre {
		margin-top: 80px;
	}
	#refEn, #refFire, #refSyv {
		background-color: white;
		margin-left: 7%;
		float: left;
		width: 27%;
		min-height: 220px;
		height: auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}
	#refTo, #refFem, #refÅtte {
		background-color: white;
		margin-left: 3%;
		float: left;
		width: 27%;
		min-height: 220px;
		height: auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}
	#refTre, #refSeks, #refNi{
		background-color: white;
		margin-left: 3%;
		width: 27%;
		min-height: 220px;
		height: auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}
	/*Effekt på bildene*/
	/* Container needed to position the overlay. Adjust the width as needed */
	.container {
		position: relative;
	}
	/* The overlay effect - lays on top of the container and over the image */
	.overlay {
		position: absolute;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5); /* Black see-through */
		color: #f1f1f1;
		width: 100%;
		transition: .5s ease;
		opacity:0;
		color: white;
		font-size: 20px;
		padding: 20px;
		text-align: center;
	}
	/* When you mouse over the container, fade in the overlay title */
	.container:hover .overlay {
		opacity: 1;
	}

/* NETTSIDEDESIGN */
    /* "HVA INNEBÆRER DET Å LAGE EN NETTSIDE?" */
    /* "CSS" */

/* GRAFISK PROFIL */
    #sosiale{
        width: 30%;
        height: auto;
        min-height: 0px;
    }

    #sosiale p{
        color: white;
        margin-top: -40%;
        margin-left: 20%;
    }

    #sosiale #face{
        text-align: center;
        margin-left: 0px;
    }

    .blokk{
        /* Elementet som de tre pakkene i SEO ligger inni */
        width: 90%;
        display: inline-block;
        text-align: center;
        margin: 50px 5% 50px 5%;
    }
    
    .blokk1, .blokk2, .blokk3{
        background-color: white;
        margin-left: 3%;
        float: left;
        width: 30%;
        min-height: 220px;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    /* Tre over er plassering osv av de tre pakkene*/    

    .blokk1:hover, .blokk2:hover, .blokk3:hover{
        /*Hover til pakkene på SEO */
        transition: 0.5s;
        box-shadow: 10px 10px 40px rgba(0,0,0, 0.3);
    }
    
    #sosiale:hover{
        /* Slik at de sosiale blokkene på grafisk design ikke får hover*/
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    /*Tre over: Grafisk design - De tre blokkene om Logo, Sosiale medier og Epost*/

    /* FOR AT KUNDEN SKAL HUSKE DEG */

/* SEO */
    /* VANLIGE SPØRSMÅL */
    /* PAKKER */
    .underoverskrift{
        margin: 70px;
    }
    
    .BOKS{
        /* Boksene til SEO vanlige spørsmål*/
        text-align: left;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
    }
    
    .boks{
        float: left;
        width: 50%;
        padding: 20px 10px 20px 20px;
        height: auto;
    }
    
    .boks2{
        float: left;
        width: 50%;
        padding: 20px 20px 20px 10px;
        height: auto;
    }
    
    .Sboks:after{
        content: "";
        display: table;
        clear: both;
    }
    
    /* Alt over posisjonering og størrelser på SEO boksene*/

    .Lfakta{
        margin-top: -5px;
        color: rgb(66,122,161);
        width: 100%;
        height: auto;
        display: inline-block;
        background-color: white;
        padding-left: 0px;
    }
    
    #SEOfakta{
        color: white;
        background-color: rgba(66,122,161,70%);
    }