/* FELLES */
*{
    box-sizing: border-box;
}
html {
    height: 100%;
}
body{
	margin: 0;
	background-color: #FCFCFC;
	font-size: 24px;
	font-family: tahoma;
    color: #03394F;
    height: 100%;
}
img{
	width: 100%;
	height: auto;
}
.Spørsmal{
	/* Posisjon av "vanlig" tekst på siden*/
	text-align: center;
	margin: 120px 5%;
}
    /* FONT / FONTSTØRRELSER*/
        h1{
            /* hovedoverskrift på hovedbilde */
            font-size: 52px;
            font-weight: 50;
            text-shadow: 2px 2px 4px grey;
        }
        h2{
            /* underoverskrifter */
            font-size: 36px;
            font-weight: 50;
        }
        h3{
            font-size: 30px;
        }
        p{
            /* tekst */
            font-size: 24px;
            line-height: 1.5em;

        }

    /* HOVEDBILDE */
        /*HOVEDBILDE / HOMEPAGE / SLIDESHOW */
        #hovedbilde {
            height: 100%; 
            background-position: center, center, center;
            background-size: cover, cover, cover;
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-image: url(../Images/referanser.jpg), url(../Images/homepage/hovedbilde2.jpg), url(../Images/homepage/hovedbilde3.jpg);
            z-index: -1;
            transition: background 1s ease;
        }
        
        /* HOVEDBILDE / HOMEPAGE */
        .hovedbilde {
            height: 100%; 
            background-position: center;
            background-size: cover;
            z-index: -1;
        }
        .tekstPåBilde{
            /*Tekst til hovedbilder på hver side. Plassering. */
            top: 35%;
            position: absolute;
            text-align: center;
            color: #FFFFFF;
            width: 100%;
            z-index: 1;
            text-shadow: 2px 2px 4px grey;

        }



    /* BLÅ FAKTABOKS / OM OSS / BRANDING */
        .Rfakta{
            padding-left: 20px;
            color: white;
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: nowrap;
            background-color: rgba(66,122,161, 70%);
        }
        .faktabildet{
            width: 40%;
            height: auto;
        }

        .faktatekst{
            width: 60%;
            height: auto;
            padding: 2em 3em;
            float: right;
        }
        #Rfaktatekst{
            float: left;
        }


    /* FOOTER */
        footer{
            width: 100%;
            height: auto;
            padding-bottom: 80px;
            margin-top: -5px;
            background-color: #03394F;
            color: white;
            text-align: center;
            padding-top: 80px;
        }
        #foot a{
            color: #3FB6F9;
        }
        .facelink{
            width: 50px;
            margin: 0 10px;
        }

    /* KONTAKT OSS / TA EN PRAT? */
        #Nboks{
            /* Kontakt oss boksen nederst på nettsidedesign*/
            text-align: center;
            padding: 70px;
            padding-bottom: 70px;
        }
        #kontaktLink{
            /* Linken til kontakt oss boksen*/
            text-decoration: none;
            border-style: solid;
            border-color: #E9B56A;
            color: #E9B56A;
            font-size: 20px;
            padding: 5px 20px;
        }
        .boksTilSpørsmål{
            text-align: left;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        }

    /* MEDIA */
    /*Tre under er for at overskriften skal endre størrelse med vinduet*/
        @media screen and (max-width: 1205px) and (min-width: 951px){
            .tekstPåBilde h1{
                font-size: 40px
            }
            p{
                font-size: 20px;
            }
        }

        @media screen and (max-width: 950px) and (min-width: 701px){
            .tekstPåBilde h1{
                font-size: 30px
            }
            h3{
                font-size: 21px;
            }
            h2{
                font-size: 18px;
            }
            p{
                font-size: 15px;
            }
        }

        @media screen and (max-width: 700px){
            .tekstPåBilde h1{
                font-size: 20px
            }
            h3{
                font-size: 18px;
            }
            p{
                font-size: 15px;
            }
        }
/* HOMEPAGE */
    /* TJENESTER */

        .tjenester a{
            text-decoration: none;
            color: inherit;
        }
    
        #tjenester, h2 h2>p{
            text-align: center;
        }

        #tjenester h2{
            margin-top: 10%;
        }
        
        .tjenester h3, .lesMer{
            color: #7AA1BC;
        }
        
        .containerTjenester{
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            margin-bottom: 10%;
        }
        
        .tjenester{
            
            height: 50%;
            width: 20%;
            margin: 3%;
            text-align: center;
        }
        
        .tjenester img{
            height: 100px;
            width: auto;
        }
    

/* KONTAKT OSS */
    /* KONTAKTSKJEMA */
    /* VÅRT TEAM */

        .vårt_team {
            margin: 30% 15%;
            text-align: center;
        }
        .vårt_team h2 {
            /*Posisjon av h2 "Vårt team"*/
            margin-top: -30%;
        }
        
        .konteiner {
            width: 90vw;
            margin-top: -10%;
            margin-left: 5vw;
            margin-right: 5vw;
            text-align: center;
            margin-bottom: 15vh;

        }
        .ansatt {
            /*Posisjon av ansatt boksene*/
            background-color: white;
            width: 25vw;
            height: 30;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
            margin-left: 25px;
            margin-right: 25px;
            margin-bottom: 10%;
            float: left;
        }
        .ansatt .portrett {
            /*Posisjon av portrett*/
            margin: -10%;
            width: 8vw;
            height: auto;

        }
        .ansatt h4 {
            /*Posisjon av navn in boksen*/
            color: #03394F;
            font-size: 16pt;
        }
        .ansatt p {
            /*Posisjon av beskrivelse til folk*/
            color:  #03394F;
            font-size: 14pt;
            word-break: break-all;
            margin-left: 2vw;
            margin-right: 2vw;
        }
        .ansatt p:nth-of-type(1){
            /*Farge på jobb-stillingen*/
            color: #D2AA43;
            top: -25%;
        }
        input, textarea {
            /*dimensjon av input felt*/
            font-family: Tahoma;
            font-size: 12pt;
            height: 6vh;
            width: 70%;
            margin-bottom: 1vh;
        }
        #melding {
            /*dimensjon til melding felt*/
            height: 100px;
            width: 70%;
        }
        #send {
            /*dimensjon og posisjon av send-knapp*/
            margin-left: 50%;
            width: 20%;
            border-radius: 18px;
            -moz-border-radius: 5px;
            border: none;
            background-color: #E9B56A;
            color: white;
            margin-bottom: 50px;
        }  
        .form{
            width: 45%;
            margin-top: 90px;
        }

        
/* REFERANSER */
    /* TIDLIGERE PROSJEKTER */
    /*Her styles bildene i referanser.html*/
    .alleBilderRef {
        margin: 100px 50px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
    
    .bilderRef {
        width: 350px;
        height: 220px;
        margin-bottom: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}
	

	/*Overlayeffekt på bildene. Koden her er i store trekk lånt fra https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade*/
	.container {
        position: relative;
        width: 350px;
    }
	
	.overlay {
        bottom: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
		background-color: rgba(0, 0, 0, 0.5); 
        height: 220px;
		width: 100%;
		transition: .5s ease;
		opacity: 0;
    }
    
	.container:hover .overlay {
		opacity: 1;
    }
    
    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }


/* NETTSIDEDESIGN */
    #tekstPåNettsidedesign {
        top: 45%;
    }
    
    #sikkerhet, h2 h2>p{
        text-align: center;
    }

    #sikkerhet h2{
        margin-top: 10%;
    }
    
    .sikkerhet h3, .lesMer{
        color: #7AA1BC;
    }
    
    .containerSikkerhet{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin-bottom: 10%;
    }
    
    .sikkerhet{
        
        height: 50%;
        width: 20%;
        margin: 3%;
        text-align: center;
    }
    
    .sikkerhet img{
        height: 100px;
        width: auto;
    }

/* GRAFISK PROFIL */

    #sosiale1 p, #sosiale2 p, #sosiale3 p {
        color: white;
        margin-top: -40%;
        margin-left: 20%;
    }

    #sosiale2 #face{
        text-align: center;
        margin-left: 0px;
    }

    .boksTilGrafisk{
        width: 90%;
        display: inline-block;
        text-align: center;
        margin: 80px 5% 80px 5%;
    }
        
    .bildeGrafisk{
        width: 30%;
        background-color: white;
        margin-left: 3%;
        float: left;
    }

        
    .bildeGrafisk:hover{
        transition: 0.3s;
        box-shadow: 0 50px 70px 10px rgba(0, 0, 0, 0.5)  
    }

    

/* SEO */
    /* VANLIGE SPØRSMÅL */
    /* PAKKER */
    .underoverskriftSEO{
        margin: 80px;
    }
    
    .bokserSEO{
        /* Boksene til SEO vanlige spørsmål*/
        text-align: left;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
    }
    
    .tekstVanligeSpm{
        float: left;
        width: 50%;
        padding: 45px 10px 20px 80px;
        height: auto;
    }
    
    .boks2{
        float: left;
        width: 50%;
        padding: 20px 80px 20px 10px;
        height: auto;
    }

    
    .Sboks:after{
        content: "";
        display: table;
        clear: both;
    }


    /* Pakkene på SEO-siden */
    .boksTilPakker{
        /* Elementet som de tre pakkene i SEO ligger inni */
        width: 90%;
        display: inline-block;
        text-align: center;
        margin: 50px 5% 50px 5%;
    }
        
    .pakkerSEO{
        margin-bottom: 80px;
        padding: 20px;
        background-color: white;
        margin-left: 3%;
        float: left;
        width: 30%;
        min-height: 220px;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        height: 400px;
    }
          
    
    .pakkerSEO:hover{
        /*Hover til pakkene på SEO */
        transition: 0.5s;
        box-shadow: 10px 10px 40px rgba(0,0,0, 0.3);
    }

    li{
        font-size: 15px;
        list-style-position: inside;
        text-align: left;
        padding-left: 25%;
    }




/*NAVBAR*/

    #links > a:not(#logo){
        position: absolute;
        color: rgb(3,57,79);
        visibility: hidden;
        opacity: 0;
        text-decoration: none;
        font-size: 1.5vw;
        font-family:  sans-serif,Verdana, Geneva, Tahoma;    
    }
    #logo{
        position: absolute;
        margin-top: -0.5vw;
        font-family:  sans-serif,Verdana, Geneva, Tahoma;
        font-size: 2.5vw;
        letter-spacing: 1vw;
        text-decoration: none;
        color: rgb(3,57,79);
        margin-left: 2vw;
    }
    #links {
        padding-top: 2vw;
        padding-bottom: 2vw;
        z-index: 2;
        height: 6vw;
        width: 100vw;
        position: fixed;  
    }
    #dropdown{
        z-index: -1;
        top: -2vw;
        opacity: 0;
        position: absolute;
        margin-left: 23vw;
        width: 8vw;
        padding-bottom: 2vw;
        padding-top: 6.5vw;
        background-color: white;
        transition: 0.1s;

    }
    #dropdown > a{
    display: block;
    opacity: 100%;
    font-size: 1vw;
    padding-right: 0.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: right;
    color: rgb(3,57,79); 
    text-decoration: none;
    } 

  
        
        